<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Llkser's To-do List</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/myStyle.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <center><h2>Llkser's To-do List</h2></center>

        <hr class="featurette-divider">

        {% block content %}{% endblock %}

        <hr class="featurette-divider">

        <div class="tm-page-footer">
            <p class="pull-right tm-copyright-text"><a href="#">Back to top</a></p>
            <p class="tm-copyright-text">This work is for study. Copyright © <em>Liu Kang</em>.</p>
        </div>
    </div>
</body>

</html>